@font-face {
    font-family: 'poppins';
    src: url(../fonts/poppins-bold-webfont.woff2) format('.woff2');
    font-weight: 700;
    font-display: swap;
}
@font-face {
    font-family: 'montserrat';
    src: url(../fonts/Montserrat-Thin.woff2) format('.woff2');
    font-weight: 400;
    font-display: swap;
}