.header{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 5px;
    background-color: rgb(128, 4, 0);
    color: rgb(255, 254, 254);
    font-family: 'poppins';
    font-weight: 700;
    font-size: medium;
    font-style: italic;
}
.logo{
    width: 100px;
    height: 100px;
}
.header__menu{
    display: flex;
    justify-content: center;
}
.header__list{
    display: flex;
    justify-content: center;
    gap:40px;
    list-style: none;
    text-decoration: none;
}

.header__link{
    color: rgb(255, 254, 254);
    margin: 50px;
    text-decoration: none;
    transition: 3s all ease-out;
}
.header__link:hover{
    text-decoration: underline;
}