.attractions__slider{
    display: flex;
    justify-content:space-between;
    align-items: center;
    gap: 10px;
}
.attractions__list {
    width: 1350px;
    margin-top: 60px;
    display: flex;
    gap: 40px;
    overflow: hidden;
    align-items: end;
    color: #000
}
.attractions__img {
    width: 400px;
    height: 200px;

}
.attractions__item {
    width: 360px;
    transition: 0.3s ease; 
   }
.attractions__button{
    padding:150px 20px;
}
