.footer{
    display: flex;
    justify-content: start;
    gap: 30px;
    background-color: rgb(128, 0, 0);
    color: white;
    font-family: 'popins', sans-serif;
    font-weight: 400;
    font-size: medium;
    font-style: italic;
}
.footer__list{
    display: grid;
    justify-content: left;
    gap: 10px;
    list-style: none;
    padding: 5px;
    margin: 10px;
    text-align: center;
}
.footer_item{
    display: inline-block;
    margin: 10px;
}
.footer__link{
    text-decoration: none;
    color: #fff;
}
.footer__link:hover{
    text-decoration: underline;
}
.text-wrapper{
   margin-right: 20px;
}