.header{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 5px;
    background-color: rgb(128, 4, 0);
    color: white;
    font-family: 'silvana';
    font-weight: 400;
    font-size: medium;
    font-style: italic;
}
.logo{
    width: 100px;
    height: 100px;
}
.header__menu{
    display: flex;
    justify-content: center;
}
.header__list{
    display: flex;
    justify-content: center;
    gap: 100px;
    list-style: none;
    text-decoration: none;
}
.header__link{
    color: rgb(252, 252, 255);
    margin: 50px;
    text-decoration: none;
    transition: 0,5ms all ease-out;
}
